<a href="https://colab.research.google.com/github/Adzawla/COVID-19/blob/master/playing_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Loading the dataset
df=pd.read_csv("3.5 market_fact.csv")

Let's understand the data by checking the structure, the number rows and columns of our dataset

In [5]:
df.head()

     Ord_id  Prod_id   Ship_id  ...   Profit  Shipping_Cost  Product_Base_Margin
0  Ord_5446  Prod_16  SHP_7609  ...   -30.51           3.60                 0.56
1  Ord_5406  Prod_13  SHP_7549  ...     4.56           0.93                 0.54
2  Ord_5446   Prod_4  SHP_7610  ...  1148.90           2.50                 0.59
3  Ord_5456   Prod_6  SHP_7625  ...   729.34          14.30                 0.37
4  Ord_5485  Prod_17  SHP_7664  ...  1219.87          26.30                 0.38

[5 rows x 10 columns]

Let's check the data types of each variable (columns) in the dataset

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Ord_id               8399 non-null   object
 1   Prod_id              8399 non-null   object
 2   Ship_id              8399 non-null   object
 3   Cust_id              8399 non-null   object
 4   Sales                8399 non-null   float64
 5   Discount             8399 non-null   float64
 6   Order_Quantity       8399 non-null   int64
 7   Profit               8399 non-null   float64
 8   Shipping_Cost        8399 non-null   float64
 9   Product_Base_Margin  8336 non-null   float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.3+ KB

- Object corresponds to character

- float64 corresponds to number

- float64 corresponds to number

In [11]:
df.describe()

              Sales     Discount  ...  Shipping_Cost  Product_Base_Margin
count   8399.000000  8399.000000  ...    8399.000000          8336.000000
mean    1775.878179     0.049671  ...      12.838557             0.512513
std     3585.050525     0.031823  ...      17.264052             0.135589
min        2.240000     0.000000  ...       0.490000             0.350000
25%      143.195000     0.020000  ...       3.300000             0.380000
50%      449.420000     0.050000  ...       6.070000             0.520000
75%     1709.320000     0.080000  ...      13.990000             0.590000
max    89061.050000     0.250000  ...     164.730000             0.850000

[8 rows x 6 columns]

In [9]:
df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [10]:
df.shape

(8399, 10)

In [13]:
# Extracting of values as numpy array

df.values

array([['Ord_5446', 'Prod_16', 'SHP_7609', ..., -30.51, 3.6, 0.56],
       ['Ord_5406', 'Prod_13', 'SHP_7549', ..., 4.56, 0.93, 0.54],
       ['Ord_5446', 'Prod_4', 'SHP_7610', ..., 1148.9, 2.5, 0.59],
       ...,
       ['Ord_5388', 'Prod_6', 'SHP_7524', ..., -70.85, 5.35, 0.4],
       ['Ord_5348', 'Prod_15', 'SHP_7469', ..., 565.34, 30.0, 0.62],
       ['Ord_5459', 'Prod_6', 'SHP_7628', ..., 131.39, 4.86, 0.38]],
      dtype=object)

In [23]:
# ordering the data by "Profit"

df.sort_values(by="Profit").head().head()

        Ord_id  Prod_id   Ship_id  ...    Profit  Shipping_Cost  Product_Base_Margin
6952  Ord_5452  Prod_17  SHP_7621  ... -14140.70          24.49                 0.39
4772  Ord_5047  Prod_17  SHP_7043  ... -12558.00          24.49                 0.39
84    Ord_5232  Prod_17  SHP_7306  ... -11984.40          24.49                 0.39
5454  Ord_3903  Prod_14  SHP_5417  ... -11861.46          24.49                 0.37
5968  Ord_3073  Prod_14  SHP_4267  ... -11769.17          24.49                 0.37

[5 rows x 10 columns]

In [29]:
# Ordering by descending order

df.sort_values(by="Profit", ascending=False).head()

# We put ascending=True if we want to order by descending

        Ord_id  Prod_id   Ship_id  ...    Profit  Shipping_Cost  Product_Base_Margin
2738  Ord_3084  Prod_17  SHP_4279  ...  27220.69          24.49                 0.39
385   Ord_3707  Prod_17  SHP_5136  ...  14440.39          24.49                 0.37
2253  Ord_3143  Prod_14  SHP_4362  ...  13340.26          24.49                 0.37
4399  Ord_4614  Prod_14  SHP_6423  ...  12748.86          24.49                 0.44
6765  Ord_5186  Prod_17  SHP_7247  ...  12606.81          55.30                 0.40

[5 rows x 10 columns]

In [34]:
# Let's sort by 2 columns
df.sort_values(by=["Profit","Sales"], ascending="True").head()

        Ord_id  Prod_id   Ship_id  ...    Profit  Shipping_Cost  Product_Base_Margin
6952  Ord_5452  Prod_17  SHP_7621  ... -14140.70          24.49                 0.39
4772  Ord_5047  Prod_17  SHP_7043  ... -12558.00          24.49                 0.39
84    Ord_5232  Prod_17  SHP_7306  ... -11984.40          24.49                 0.39
5454  Ord_3903  Prod_14  SHP_5417  ... -11861.46          24.49                 0.37
5968  Ord_3073  Prod_14  SHP_4267  ... -11769.17          24.49                 0.37

[5 rows x 10 columns]

In [36]:
# Selecting the rows from indexes 1 to 6
df[1:7]

     Ord_id  Prod_id   Ship_id  ...   Profit  Shipping_Cost  Product_Base_Margin
1  Ord_5406  Prod_13  SHP_7549  ...     4.56           0.93                 0.54
2  Ord_5446   Prod_4  SHP_7610  ...  1148.90           2.50                 0.59
3  Ord_5456   Prod_6  SHP_7625  ...   729.34          14.30                 0.37
4  Ord_5485  Prod_17  SHP_7664  ...  1219.87          26.30                 0.38
5  Ord_5446   Prod_6  SHP_7608  ...   -47.64           6.15                 0.37
6    Ord_31  Prod_12    SHP_41  ...     1.32           0.50                 0.36

[6 rows x 10 columns]

In [70]:
# We select all the even rows. We start by row 2 on

df[2::2].head()

      Ord_id  Prod_id   Ship_id  ...   Profit  Shipping_Cost  Product_Base_Margin
2   Ord_5446   Prod_4  SHP_7610  ...  1148.90           2.50                 0.59
4   Ord_5485  Prod_17  SHP_7664  ...  1219.87          26.30                 0.38
6     Ord_31  Prod_12    SHP_41  ...     1.32           0.50                 0.36
8   Ord_4725  Prod_13  SHP_6593  ...    45.84           0.71                 0.52
10  Ord_4743   Prod_2  SHP_6615  ...  1675.98           0.99                 0.56

[5 rows x 10 columns]

In [49]:
sale_1 = df["Profit"]
sale_1.head()

0     -30.51
1       4.56
2    1148.90
3     729.34
4    1219.87
Name: Profit, dtype: float64

In [53]:
Sale_2 = df.Sales
Sale_2.head()

0     136.81
1      42.27
2    4701.69
3    2337.89
4    4233.15
Name: Sales, dtype: float64

In [54]:
df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount',
       'Order_Quantity', 'Profit', 'Shipping_Cost', 'Product_Base_Margin'],
      dtype='object')

In [86]:
# Selecting multi-columns
multi_df = df[['Cust_id','Sales','Profit']]

multi_df = multi_df.head()
multi_df

     Cust_id    Sales   Profit
0  Cust_1818   136.81   -30.51
1  Cust_1818    42.27     4.56
2  Cust_1818  4701.69  1148.90
3  Cust_1818  2337.89   729.34
4  Cust_1818  4233.15  1219.87

In [100]:
multi_df.iloc[2,:]

Cust_id    Cust_1818
Sales        4701.69
Profit        1148.9
Name: 2, dtype: object

In [101]:
multi_df.iloc[:,2]

0     -30.51
1       4.56
2    1148.90
3     729.34
4    1219.87
Name: Profit, dtype: float64

In [99]:
df.iloc[3:8]

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_5456   Prod_6  SHP_7625  ...         14.30                 0.37
Ord_5485  Prod_17  SHP_7664  ...         26.30                 0.38
Ord_5446   Prod_6  SHP_7608  ...          6.15                 0.37
Ord_31    Prod_12    SHP_41  ...          0.50                 0.36
Ord_4725   Prod_4  SHP_6593  ...          0.99                 0.55

[5 rows x 9 columns]

In [102]:
df

          Prod_id   Ship_id  ... Shipping_Cost  Product_Base_Margin
Ord_id                       ...
Ord_5446  Prod_16  SHP_7609  ...          3.60                 0.56
Ord_5406  Prod_13  SHP_7549  ...          0.93                 0.54
Ord_5446   Prod_4  SHP_7610  ...          2.50                 0.59
Ord_5456   Prod_6  SHP_7625  ...         14.30                 0.37
Ord_5485  Prod_17  SHP_7664  ...         26.30                 0.38
...           ...       ...  ...           ...                  ...
Ord_5353   Prod_4  SHP_7479  ...          7.69                 0.59
Ord_5411   Prod_6  SHP_7555  ...          6.92                 0.37
Ord_5388   Prod_6  SHP_7524  ...          5.35                 0.40
Ord_5348  Prod_15  SHP_7469  ...         30.00                 0.62
Ord_5459   Prod_6  SHP_7628  ...          4.86                 0.38

[8399 rows x 9 columns]

In [105]:
# Setting the "ship_id" as index
df.set_index("Ship_id")

#.head()

          Prod_id    Cust_id  ...  Shipping_Cost  Product_Base_Margin
Ship_id                       ...
SHP_7609  Prod_16  Cust_1818  ...           3.60                 0.56
SHP_7549  Prod_13  Cust_1818  ...           0.93                 0.54
SHP_7610   Prod_4  Cust_1818  ...           2.50                 0.59
SHP_7625   Prod_6  Cust_1818  ...          14.30                 0.37
SHP_7664  Prod_17  Cust_1818  ...          26.30                 0.38
...           ...        ...  ...            ...                  ...
SHP_7479   Prod_4  Cust_1798  ...           7.69                 0.59
SHP_7555   Prod_6  Cust_1798  ...           6.92                 0.37
SHP_7524   Prod_6  Cust_1798  ...           5.35                 0.40
SHP_7469  Prod_15  Cust_1798  ...          30.00                 0.62
SHP_7628   Prod_6  Cust_1798  ...           4.86                 0.38

[8399 rows x 8 columns]

In [115]:
df.loc["SHP_7524", ["Order_Quantity",	"Profit"]]

KeyError: ignored